@import "./../variables";

.btn
{
    text-decoration: none;
    text-transform: uppercase;

    border: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;

    &--search-collapse
    {
        width: 100%;
        padding: 0;
        padding-top: 27px;
        padding-bottom: 27px;

        text-align: center;
        text-transform: uppercase;

        color: #fff;
        border: 0;
        outline: 0;
        background-color: #766357;

        font-family: "PT Sans", "Arial", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        @media (@tablet-widths)
        {
            position: absolute;
            top: 210px;
            right: 0;
            bottom: 0;
            left: 0;

            width: 570px;
            margin: auto;
        }
    }
    &--search
    {
        width: 100%;
        margin-bottom: 48px;
        padding-top: 17px;
        padding-bottom: 17px;

        color: #fff;
        background-color: @light-blue;
    }
    &--search:hover
    {
        border: 0;
        outline: 0;
        background-color: #669ec0;
    }
    &--search:focus,
    &--search:active
    {
        color: #94b9d2;
        border: 0;
        outline: 0;
        background-color: #5496bd;
    }
    &--copyright
    {
        position: relative;

        display: inline-block;

        padding-right: 20px;
        padding-left: 20px;

        color: #333;

        font-size: 14px;
        /*width: 27px;
        height: 31px;*/
    }
    &__logo
    {
        position: absolute;
        top: -19px;
        left: 5px;

        width: 26px;
        height: 30px;
    }
    &__logo:hover
    {
        fill: @light-blue;
    }
    //&__logo:focus,
    &__logo:active
    {
        fill: #bdbbbc;
    }
}
