@import "./../variables.less";

.page-header {
    &__inner {
        //.container;
    }
    &__logo-wrapper {
        position: relative;
        z-index: 2;

        width: 70px;
        margin: 0 auto;
    }
}
