@import "./../variables";

.page-footer {
    &__inner {
        text-align: center;

        .container;
    }
    &__hash-tag {
        display: block;

        padding-top: 30px;
        padding-bottom: 40px;

        color: #000;

        font-size: 21px;
        font-weight: 700;
        line-height: 26px;
    }
    &__social {
        padding-bottom: 40px;
    }
    &__links {
        padding-left: 0;

        list-style: none;

        font-size: 0;
    }
    &__links li {
        display: inline;

        font-size: 14px;
    }
    &__copyright {
        padding-bottom: 25px;
    }
}
