@import "./../variables";

.search {
    text-align: center;

    color: #000;
    background-color: #766357;

    font-weight: 700;
    line-height: 26px;
    &__title {
        padding-top: 35px;
        padding-bottom: 20px;

        color: #fff;
        //background-color: #766357;

        font-size: 18px;
    }
    &__title-inner {
        max-width: 300px;
        margin: 0 auto;
    }
    & form {
        text-align: left;

        background-color: #fff;
    }
    &__form-inner {
        position: relative;

        max-width: 280px;
        margin: 0 auto;
    }
    &__label {
        display: block;

        margin-bottom: 15px;
        margin-left: 20px;
    }
    &__label:first-child {
        padding-top: 30px;
    }
    &__input-data {
        display: block;

        width: 100%;
        margin-bottom: 30px;
        padding-right: 32px;
        padding-left: 15px;

        border: 0;
        background-color: #f2f2f2;
    }
    &__data-adult-inner {
        position: relative;

        float: left;

        width: 115px;
        padding-bottom: 45px;
    }
    &__data-children-inner {
        position: relative;

        float: right;

        width: 115px;
        padding-bottom: 45px;
    }
    &__input-number {
        display: block;

        width: 100%;
        padding-left: 52px;

        border: 0;
        background-color: #f2f2f2;
    }
    &__input-data:hover,
    &__input-number:hover {
        border: 0;
        outline: 0;
        background-color: #ebebeb;
    }
    &__input-data:active,
    &__input-number:active,
    &__input-data:focus,
    &__input-number:focus {
        border: 1px solid #e5e5e5;
        outline: 0;
        background-color: #fff;
    }
    &__calendar {
        position: absolute;
        top: 74px;
        right: 9px;

        fill: #c2c2c2;
    }
    &__calendar--out {
        top: 173px;
        right: 9px;
    }
    &__calendar:hover,
    &__minus:hover,
    &__plus:hover {
        fill: #000;
    }
    &__calendar:active,
    &__calendar:focus,
    &__minus:active,
    &__minus:focus,
    &__plus:active,
    &__plus:focus {
        fill: @light-blue;
    }

    &__minus {
        position: absolute;
        top: 69px;
        left: 15px;

        fill: #c2c2c2;
    }
    &__plus {
        position: absolute;
        top: 72px;
        right: 15px;

        fill: #c2c2c2;
    }
}
