.container {
  @media (@mobile-widths-only) {

    width: 767px;
    margin: 0 auto;
  }
  @media (@tablet-widths) {
    width: 768px;
  }

  @media (@desktop-widths) {
    width: 1200px;
  }
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;

  text-transform: uppercase;

  color: #333;
  background: #fff;

  font-family: "PT Sans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

/*defend from overload img*/
img {
  max-width: 100%;
  height: auto;
}
